<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango - About</title>
    </head>
    <body>
        <h1>This tutorial has been put together by Andrea Grandi</h1>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static 'images/rango.jpg' %}"
                alt="Picture of Rango" />
        </div>
        <div>
                <img src="{{ MEDIA_URL }}cat.jpg"
                    alt="Picture of a cat" />
            </div>
    </body>
</html>
